body {
    font-family: 'Roboto', sans-serif !important;
}
.icon {
    border-radius: 25%;
    margin-top: 22px;
    margin-left: 50px;
}

.title {
    font-weight: 600;
}

.nav-link {
    text-align: center;
}

.navbar {
    background-color: #2C3E50 !important;
}

.jumbotron {
    background-color: #3498DB !important;
    color: #E74C3C !important;
}

.jumbotron p {
    color: #ECF0F1 !important;
}

.btn-primary {
    background-color: #3498DB !important;
    border-color: #3498DB !important;
    padding: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 7px !important;
}

.infocard {
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 20px !important;
    background-color: #ECF0F1 !important;
}

.dark-link {
    color: #212529 !important;
}

.footer {
    background-color: #3498DB !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    text-align: center;
}

.footer a {
        color: #ECF0F1 !important;
}

.button {
    background-color: #3498DB !important;
    padding: 6px;
    margin-right: 10px;
    border-radius: 10px;
    color: #ECF0F1 !important;
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.display-4, .lead {
    margin-left: 80px;
}


.text-muted {
    color: #ECF0F1 !important;
}



.appname {
    color: #2C3E50 !important;
}
